.btn{
    margin-top: 76px;
    width: 260px;
    height: 75px;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.31;
    color: #665236;
    border-radius: 6px;
    background-image: linear-gradient(to top, #e4a94d, #fcd977);
    border: none;
    border-bottom: revert ;
    border-width: 3px;
    border-color: #fcd977;;
    box-shadow: 0px 30px 90px 0 rgba(252, 217, 119, 0.3);
    padding: 0 65px;
    span{
        margin-left: 14px;
    }
    &_wotch{
        width: 303px;
        height: 75px;
        margin: 61px 1px 3px 0;
        border-radius: 6px;
        background-image: linear-gradient(to top, #3e4fed, #3745c4);
        border-radius: 6px;
        box-shadow: 0px 30px 90px 0 rgba(66, 82, 227, 0.3);
        border-color: #022fab;
        font-size: 16px;
        font-weight: 800;
        line-height: 1.31;
        color: #ffffff;
        padding: 0 35px;
        
    }
    &_m0{
        margin: 0;
    }
 
}